@tailwind base;
@tailwind components;
@tailwind utilities;
  
/* .root,
#root,
#docs-root {
  --primary-color: #EDEAEF;
  --secondary-color: #000;
} */


::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}    

::-webkit-scrollbar-thumb {
  background-color: rgba(136, 180, 228, 0.8);

  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(0.7);
  width: 1rem;
}

::selection {
  background-color: rgba(32, 37, 106, 0.3);
}